
/* Main Section */
.log-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F4F9;
}

.auth-container {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.auth-form input,
.auth-form select {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.auth-form button {
    background: #FF6F61;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-form button:hover {
    background: #E85C50;
}
